/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: CornflowerBlue !important;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: White!important;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: PowderBlue !important;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: CornflowerBlue!important;
  color: White !important;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.openbtn:hover {
  background-color: PowderBlue !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18pt;}
}

h1 {
  color: CornflowerBlue;
  font-size:45px;
  text-align:center;
  margin:auto;

}

h3 {
  text-align:center;
  margin:auto;
  width: 550px;
  margin: auto;
  color: #80dfff;
  font-size:24px;
  font-weight:normal;
  
}

h2 {
  color: DarkTurquoise ;
  font-size:30px;
  text-align:center;
  margin:auto;
}

/*img {
  max-width: 100%;
  max-height: 100%;
  width: 50%;
  height: 50%;
}*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 
}

body {
  background-color: #FFFFFF;
  font-family: Lucida;
}

.banner {
  position: absolute;
  height: 400px;
  top:-40px;
  left: 0px;
  right: 0px;
  text-align: center;
  opacity: 0.8;

  max-width: 200%
  margin: 0;
  overflow:hidden;
}
/* 
#example {
  font-size: 21px;
  color: #B0E0E6;
} */



/* #title {
  margin-top: 5px;
/* /
  margin: auto;
}
   */

#gamestitle {
  padding-top:80px;
}
#title2 {
  margin-top: 5px;
  width: 410px;
  margin: auto;
  text-weight:normal;
/*   font-size: 23px;
  color: #B0E0E6; */
}

#title3 {
  margin-top: 5px;
  width:70%;
  margin: auto;
  text-weight:normal;
}

#website {
  text-align:center;
  margin:auto;
}

#videogames {
  max-width: 100%;
  max-height: 100%;
  width: 50%;
  height: 50%;
}

iframe {
  max-width:600px;
  min-width:180px;
}

#gamerule {

  font-size:23px;

  
}

#playbutton {
  width: 15%;
}

/*Make a Scratch game (maybe a clicker game) for relieving stress*/
