h1 {
  height: 300px
}

h2 {
  font-size: 45px;
  color: #E56717;
  margin-top: -100px;
}

h3 {
  color: #E56717 !important;
  font-size:32px;
}

h4 {
   color: #E56717 !important;
  font-size:25px;
}

#smalltext {
  font-size:25px;
  
}

#quote {
    font-size:25px;
}



.centered_video {
/*     width: 560px; /* you have to have a size or this method doesn't work */	     */

/*     height: 315px; think about making these max-width instead - might give you some more responsiveness	     */


     position: absolute; /* positions out of the flow, but according to the nearest parent */	    
    top: 0; right: 0; /* confuse it i guess */
   bottom: 0; left: 0;
   margin: auto; /* make em equal */
  }


 #meditation {	
  width: 1000px;	
 }	


  .content {
  width: 100%;
  margin: auto;
}

.banner {
      position: absolute;
      height: 400px;
      top: -20px;
      left: 0px;
      right: 0px;
      text-align: center;
      opacity: 0.8;

      max-width: 100%;
      margin: 0;
      overflow:hidden;

}


/* ul { display:table; margin:0 auto;} */

ul{
  display:inline-block;
  text-align:
}
li{
  text-align: left;
}
h4{
  text-align: center;
}

.maintext {
  padding-top: 350px;
  /* padding-left: 110px; */
  color: #FF9949;
  font-family: Lucida;
  font-size: 20px;
  text-align: center;
  margin: 100px;
}





/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: Orange !important; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
  z-index: 10000;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: Tomato !important;
  z-index: auto;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: Orange !important;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  z-index: 10000;
}

.openbtn:hover {
  background-color: Tomato !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
