
  .content {

    width: 100%;
    margin:auto;

  }

  .banner {

    position: absolute;
    height: 100%;
    top: -20px;
    left: 0px;
    right: 0px;
    text-align: center;
    opacity: 0.8;

    max-width: 100%;
    margin: 0;
    overflow:hidden;
  }




#cloud {

  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}

#rose {

  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}

#seal {
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}

#shadow {
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}

#vase {
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}
#whitenoise {
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;


  padding-top: 100px;

}

h2 {
  padding-top:320px;
  text-align:center;
  color:Peru;
  font-family:Lucida;
  font-size:45px;
}

h3 {
  text-align:center;
  
  color:Peru;
  font-family:Lucida;
  font-size:25px;
  font-weight:bolder;
}

h4 {
  text-align:center;

  color:SandyBrown;
  font-family:Lucida;
  font-size:24px;
  font-weight:normal;
  max-width: 750px;
  min-width:250px;
  margin: auto;
  
/*   color:SandyBrown !important;
  font-family:Lucida !important;
  font-size:25px !important;
  font-weight:normal;
  max-width: 450px;
  min-width: 300px;
  width: 100%;
  padding: 20px;
  margin: auto; */

}






/* The sidebar menu */
.sidebar {
  height: 400px; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffbf00 !important;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  z-index: 10000;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
  transition: 0.3s;
  z-index: 10000;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color:#ff9900!important;
  z-index: 10000;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 10000;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #ffbf00!important;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  z-index:10000;
}

.openbtn:hover {
  background-color:#ff9900!important;
  z-index: 10000;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
